* {
    padding: 0;
    margin: 0;
}

#home {
    background-color: #000000;
    overflow: hidden;
}

#about {
    background-color: #fffaec;
}

a {
    text-decoration: none;
    color: #000000;
    -webkit-tap-highlight-color: transparent;
}

.container {
    display: grid;
    gap: 1em;
    grid-template-columns: auto 1fr auto;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sugars{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    max-width: 400px;
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img.landscape {
    width: 95vw;
    height: 80vh;
    z-index: 0;
}

img.portrait {
    width: 80vw;
    height: 95vh;
}

#who {
    position: absolute;
    text-align: right;
    top: 20.3vh;
    right: 11vw;
    color: black;
}

#playlist {
    position: absolute;
    text-align: left;
    top: 69.8vh;
    left: 11.2vw;
    color: black;
}

.underline {
    color: #ff6f00;
    text-decoration: underline;
}

.courier {
    font-family: 'Courier Prime', monospace;
    font-size: 1em;
    font-weight: normal;
}

p {
    color: black;
    padding: 10px;
}

p::selection{
    background: #ff6f00;
}

@media (orientation: landscape) {
    .portrait {
        display: none;
    }

    a {
        text-decoration: none;
        color: #fffaec;
        -webkit-tap-highlight-color: transparent;
    }

    #who {
        position: absolute;
        text-align: left;
        top: 6vh;
        left: 7.5vw;
        z-index: 1;
    }
    
    #playlist {
        position: absolute;
        text-align: right;
        top: 93vh;
        right: 7.5vw;
        color: #fffaec;
        z-index: 1;
    }
}

@media screen and (max-width: 500px) {
    .text-container {
        width: 100vw;
    }

    p {
        padding: 10px 20px 10px 20px;
     }
}

@media (orientation: portrait) {
    .landscape {
        display: none;
    }

    #home {
        overflow: auto;
    }
}